<div class="loginPage">
  <p class="notice"><%= notice %></p>
  <h1 class="pageTitle">Log In</h1>
  <%= form_tag sessions_path do %>
  <div class="loginSection">
    <p class="loginInfo">
      <%= label_tag :username do %>
      <%= content_tag :span, "Username", :class => "commentLabel" %>
      <% end %>
      <%= text_field_tag :username %>
    </p>
    <p class="loginInfo">
      <%= label_tag :password do %>
      <%= content_tag :span, "Password", :class => "commentLabel" %>
      <% end %>
      <%= text_field_tag :password %>
    </p>
    <p class="#b2dfdb teal lighten-3 waves-effect waves-light btn">
      <%= submit_tag "Log In" %>
    </p>
    <% end %>
  </div>
</div>
