<div class="loginPage">
  <%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
  <div id="error_explanation">
    <h3 ><%= pluralize(user.errors.count, "error") %>
      prohibited this user from being saved:</h3>

    <ul>
      <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="newUserSection">
    <p class="loginInfo">
      <div class="fields">
        <%= form.label :username, { class: 'commentLabel' } %>
        <%= form.text_field :username, { class: 'userInput' } %>
      </div>
      <div class="field">
        <%= form.label :password, { class: 'commentLabel' } %>
        <%= form.password_field :password, { class: 'userInput' } %>
      </div>
      <div class="field">
        <%= form.label "Confirm", { class: 'commentLabel' } %>
        <%= form.password_field :password_confirmation, { class: 'userInput' } %>
      </div>
      <p class="BottomButton waves-effect waves-light btn">
        <%= form.submit %>
      </p>
    </p>


    <% end %>
  </div>
