<p id="notice"><%= notice %></p>

<h1 class="pageTitle">Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr class="userInfo">
      <td class="userName btn"><%= link_to user.username, user %></td>
      <td class="userButton waves-effect waves-light btn"><%= link_to 'Go to their Pictures', user %></td>
      <td class="userButton waves-effect waves-light btn"><%= link_to 'Edit User Information', edit_user_path(user) %></td>
      <td class="userButton waves-effect waves-light btn"><%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="#607775 teal lighten-3 waves-effect waves-light btn">
  <%= link_to 'Add New User', new_user_path %>
</p>
