<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% @user.posts.each do |post| %>
  <em><%= post.title %></em> <strong>
    -<%= link_to post.user, post.user %>
  </strong>

  <p>
  <%= image_tag(post.image.url :index) %>
  </p>
  <p>
  <%= post.caption %>
  </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
