<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %>
    prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="newPostForm">
  <div class="field">
    <%= form.label :title, { class: 'commentLabel' } %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :image, { class: 'commentLabel' } %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :caption, { class: 'commentLabel' } %>
    <%= form.text_field :caption %>
  </div>

  <p class="#b2dfdb teal lighten-3 waves-effect waves-light btn">
    <%= form.submit %>
  </div>
  <% end %>

</div>
