<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <em><%= post.title %></em>
              <strong>
                -
                <%= link_to post.user, post.user %>
              </strong>
              <%= link_to image_tag(post.image.url :index), post %>
            </div>
            <div class="card-content">
              <%= post.caption %>
            </div>
            <div class="comment-count">
              <span class="tag is-rounded"><%= post.comments.count %>
                comments</span>
            </div>
            <p class="#b2dfdb teal lighten-4 waves-effect waves-light btn">
              <%= link_to 'Edit', edit_post_path(post) %><br >
            </p>
            <p class="#b2dfdb teal lighten-4 waves-effect waves-light btn">
              <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>

          </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <p class="#b2dfdb teal lighten-4 waves-effect waves-light btn">
      <%= link_to 'New Post', new_post_path %>
    </p>
