<p id="notice"><%= notice %></p>

<p>
  <em><%= @post.title %></em>
  <strong>
    -<%= link_to @post.user, @post.user %>
  </strong>
</p>
<p class="imagePage">
  <%= link_to image_tag(@post.image.url :standard), @post %>
</p>
<p>
  <%= @post.caption %>
</p>
<section class="sectionComments">
  <div class="container">
    <h2 class="commentsList">
      <strong><%= @post.comments.count %></strong>
      Comments</h2>
    <%= render @post.comments %>
    <div class="commentForm">
      <hr/>
      <h3 class="leaveComment">Leave a comment below</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>

<div class="editBack">
  <%= link_to 'Edit', edit_post_path(@post) %>
  |
  <%= link_to 'Back', posts_path %>
</div>
