<!DOCTYPE html>
<html>
  <head>
    <title>Picshare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <nav class="navMobile">
      <div class="nav-wrapper blue-grey darken-1">
        <%= link_to :root do %>
        <%= content_tag :span, "Photo Sharing", :class => "appTitle" %>
        <% end %>
        <ul class="right hide-on-med-and-down">
          <li class="navMobile">
            <% if current_user %>
            Logged in as:
            <%= current_user.username%>
            ||
          </li>

          <li >
            <%= link_to :logout do %>
            <%= content_tag :span, "Log Out", :class => "navMobile" %>
            <% end %>
          </li>
        <% else %>
          <li >
            <%= link_to :login do %>
            <%= content_tag :span, "Log In", :class => "navMobile" %>
            <% end %>
          </li>
          <li >
            <%= link_to :signup do %>
            <%= content_tag :span, "Sign Up", :class => "navMobile" %>
            <% end %>
          </li>
        </ul>
        <% end %>

      </div>
    </nav>

    <div id="appContent">
      <%= yield %>
    </div>

    <footer>
      <p class="BottomButton waves-effect waves-light btn">
        <%= link_to 'View Users', :users %>
      </p>
      <p class="BottomButton waves-effect waves-light btn">
        <%= link_to "Back Home", :root %>
      </p>
      <p class="BottomButton waves-effect waves-light btn">
        <%= link_to 'Add New Post', new_post_path %>
      </p>
    </footer>

  </body>
</html>
